<nav>

  <%= link_to "Boards", boards_path %>
  <%= link_to "Create Board", new_board_path %>
  <div> 
    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>

    <% else %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>

    <% end %>
  </div>

</nav>